TelegramBot.Core/appsettings.Local.json
TelegramBot.Core/appsettings.Migration.json
TelegramBot.Core/Dockerfile
TelegramBot.Core/.git
TelegramBot.Core/.gitignore
TelegramBot.Core/.vscode
TelegramBot.Core/.circleci